.choice_premium_container{
    text-align: center;
    background-image: url("/res_css/premium/premium-landing-hero.jpg");
    //opacity: 90%;
    padding-top: 30px;
    background-attachment: fixed;
    h1{
        color: white;
        padding-bottom: 15px;
        font-size: 40px;
    }
    p{
        color: #f2e312;
    }
    button.premium{
        margin-bottom: 30px;
        padding: 10px;
        color: white;
        margin-top: 12px;
        border-radius: 5px;
        border: 0;
        background-color: #00a046;
    }
}
