body {
  font-family: "Roboto", sans-serif;
}

.part_product h3 {
  padding-left: 30px;
  padding-top: 30px;
  font-size: 22px;
}

.veb_part_container {
  display: grid;
  padding-top: 5px;
  padding-left: 10px;
  grid-template-columns: auto auto;
}
.veb_part_container img.slider {
  width: 100%;
  padding-top: 20px;
}
.veb_part_container .slider_container {
  padding-left: 5px;
  position: relative;
}
.veb_part_container .slider_container i {
  top: 50%;
  font-size: 20px;
  padding: 10px;
  color: #3e77aa;
  position: absolute;
}
.veb_part_container .slider_container i.right_arrow {
  right: 0;
}
.veb_part_container .download_container {
  text-align: center;
}
.veb_part_container .choice_part {
  padding-top: 10px;
  padding-bottom: 10px;
}
.veb_part_container .network_container {
  border-top: 1px solid lightgray;
  text-align: center;
  border-bottom: 1px solid lightgray;
}
.veb_part_container .network_container a:hover {
  text-decoration: none;
}
.veb_part_container .network_container a.network {
  font-size: 30px;
}
.veb_part_container .network_container i.facebook {
  color: #3e77aa;
  border-radius: 30px;
}
.veb_part_container .network_container i.twitter {
  color: #29a1d9;
}
.veb_part_container .network_container i.youtube {
  color: red;
}
.veb_part_container .network_container i.instagram {
  color: #ffd500;
}
.veb_part_container .network_container i.viber {
  color: purple;
}
.veb_part_container .network_container i.telegram {
  color: #29a1d9;
}
.veb_part_container .network_container img.network {
  padding-bottom: 5px;
  height: 50px;
  padding-top: 5px;
}
.veb_part_container i {
  color: #adb8c8;
}
.veb_part_container a:hover {
  color: red;
  text-decoration: underline;
}
.veb_part_container h2 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.veb_part_container .slider_container i:hover {
  color: red;
}

.in_container {
  margin-left: 28px;
  background-color: lightgray;
  width: 280px;
  padding: 10px;
  text-align: center;
}
.in_container button {
  background-color: #3e77aa;
  border-radius: 5px;
  margin-top: 15px;
  border: 1px solid #3e77aa;
  color: white;
}
.in_container button:hover {
  background-color: #29a1d9;
  transition: 0.4s;
}

button.download {
  background-color: black;
  margin-bottom: 5px;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 5px;
  color: white;
}
button.download i {
  color: white;
}

a {
  color: #3e77aa;
  text-decoration: none;
}

.sub_container {
  border-right: 1px solid lightgray;
}
.sub_container p {
  color: gray;
  padding-top: 10px;
}
.sub_container .sub_choice {
  padding-left: 10px;
  border-bottom: 1px solid lightgray;
}
.sub_container .sub_choice a.app {
  padding-left: 5px;
  display: grid;
  grid-template-columns: 25px auto;
  padding-bottom: 10px;
}
.sub_container .sub_choice a.app i {
  text-align: center;
  padding-right: 5px;
}
.sub_container a.menu {
  display: flex;
  padding-top: 10px;
  padding-bottom: 5px;
}
.sub_container .choice_part a {
  display: flex;
  padding-bottom: 5px;
}

button.payment {
  border: none;
  background-color: white;
}

.payment_container_information {
  border-top: 1px solid lightgray;
  text-align: center;
}
.payment_container_information button {
  padding-top: 10px;
}

p.information_one {
  padding-top: 8px;
  padding-left: 8px;
}

p.information_two {
  padding-top: 8px;
  color: black;
  padding-left: 8px;
  border-bottom: 1px solid lightgray;
}

.choice_href_line {
  padding-top: 10px;
  color: gray;
  padding-left: 10px;
}
.choice_href_line i {
  padding-right: 10px;
  padding-left: 10px;
}

.reviews {
  padding-left: 10px;
  color: darkorange;
  padding-bottom: 10px;
}

h1.product {
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.choice_product_information {
  display: flex;
  padding-bottom: 10px;
  background-color: #e8e7e7;
  padding-top: 10px;
}
.choice_product_information h2 {
  padding-left: 10px;
  color: #29a1d9;
  padding-right: 10px;
}
.choice_product_information h2:hover {
  color: #00a046;
  text-decoration: underline;
}
.choice_product_information span {
  color: black;
}
.choice_product_information h2.start_choice {
  text-decoration: underline;
  color: #00a046;
}

.choice_img {
  height: 100%;
  overflow-y: scroll;
}
.choice_img .img {
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  height: 49px;
  width: 49px;
}
.choice_img .img img {
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  width: 100%;
}
.choice_img .img:hover {
  border: 1px solid #00a046;
}

.choice_part span.price_two {
  color: gray;
}

.basket_choice .old_price {
  margin-left: 10px;
  padding: 2px 10px;
  position: relative;
  color: lightgray;
}
.basket_choice .old_price:before {
  content: "";
  background-color: tomato;
  transform: translateY(calc(-50% + 3px));
  top: 50%;
  height: 1px;
  left: 0;
  right: 0;
  position: absolute;
}
.basket_choice .old_price:after {
  content: "";
  background-color: tomato;
  transform: translateY(calc(-50% - 1px));
  top: 50%;
  height: 1px;
  left: 0;
  right: 0;
  position: absolute;
}
.basket_choice .premium_information_one {
  padding-top: 10px;
}
.basket_choice fieldset {
  border: 1px solid lightgray;
}

.buy_box {
  padding: 14px;
}
.buy_box .delivery_container i {
  color: gray;
}
.buy_box .general_information_part {
  display: flex;
  padding-top: 10px;
}
.buy_box .general_information_part i {
  padding-right: 5px;
}

.salesman_information {
  display: grid;
  border: 1px solid lightgray;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  grid-template-columns: 1fr 1fr;
}
.salesman_information img {
  margin-left: 59%;
}
.salesman_information p {
  margin-right: 59%;
}

.basket_choice button.just_buy {
  border-radius: 5px;
  background-color: #00a046;
  font-size: 20px;
  border: none;
  color: white;
}
.basket_choice button.just_buy i {
  color: white;
  padding-right: 5px;
}
.basket_choice button {
  margin: 10px;
  padding: 10px;
}
.basket_choice button.just_buy:hover {
  background-color: green;
  transition: 0.4s;
}
.basket_choice button.credit_buy {
  color: white;
  border-radius: 5px;
  background-color: #29a1d9;
  font-size: 20px;
  border: none;
}
.basket_choice button.credit_buy:hover {
  transition: 0.4s;
  background-color: #296ad9;
}

.part_information {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.delivery_container a:hover {
  text-decoration: underline;
  color: red;
}

.product_container {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr 1fr;
}

.buy_box button.information {
  margin-bottom: 10px;
  background-color: #efeaea;
  color: #00a046;
  padding: 5px;
  border: 1px solid #efeaea;
  border-radius: 5px;
}

.salesman_information img {
  max-width: 120px;
}

.premium_information_one span {
  color: yellow;
  background-color: purple;
}

.main_choice {
  overflow: hidden;
  height: 100%;
}
.main_choice img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}

label.information .line {
  display: flex;
}

.basket_choice span.price {
  color: red;
  font-size: 36px;
}
.basket_choice span.old_price {
  color: gray;
}

.premium_information_two {
  padding: 10px;
  background-color: purple;
  align-items: center;
  display: grid;
  margin-top: 10px;
  grid-template-columns: auto 1fr auto;
}
.premium_information_two span {
  background-color: yellow;
  color: black;
  padding: 5px;
  margin: 10px;
  border-radius: 40px;
}
.premium_information_two .premium_information_block p {
  display: inline-block;
}
.premium_information_two p {
  color: white;
}
.premium_information_two p.information {
  padding-top: 5px;
  color: yellow;
}
.premium_information_two button {
  border: none;
  border-radius: 5px;
  color: #29a1d9;
  padding: 7px 15px;
  background-color: #efeaea;
}

.delivery_part {
  display: flex;
  padding-top: 10px;
  padding-bottom: 5px;
}
.delivery_part img {
  height: 30px;
  padding-right: 5px;
}
.delivery_part span.text_free {
  color: #00a046;
  padding-left: 5px;
}
.delivery_part i {
  padding-right: 5px;
}

.buy_information {
  padding-top: 10px;
}
.buy_information img {
  width: 48px;
  padding: 5px;
}

.basket_choice i {
  color: gray;
}
.basket_choice i.heart {
  color: orange;
}

.product_preview {
  display: grid;
  height: 550px;
  grid-template-columns: auto 1fr;
}

.app_line {
  display: grid;
  padding-top: 10px;
  background-color: black;
  padding-bottom: 10px;
  grid-template-columns: auto auto auto 1fr auto auto auto;
  padding-left: 80px;
  padding-right: 80px;
  align-items: center;
  grid-gap: 10px;
}
.app_line i {
  color: white;
}
.app_line a {
  color: #3e77aa;
  text-decoration: none;
}
.app_line a:hover {
  color: red;
  transition: 0.5s;
}
.app_line i:hover {
  color: red;
}
.app_line .sub_app_button {
  background-color: white;
}
.app_line p.prompt {
  padding-bottom: 5px;
}
.app_line i.choice_i {
  padding-left: 10px;
  text-align: center;
  padding-right: 10px;
}
.app_line input {
  display: inline-block;
  padding: 0;
  border: none;
}
.app_line button {
  color: white;
  border: 0;
  padding: 10px 15px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.2);
}
.app_line button:hover {
  background-color: gray;
  transition: 0.5s;
}
.app_line .input_line {
  overflow: hidden;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  border-radius: 3px;
}
.app_line .sub_choice {
  display: none;
}
.app_line i.micro {
  color: #3e77aa;
}
.app_line label {
  padding: 0 10px;
  background-color: white;
  display: grid;
  height: 100%;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  box-sizing: border-box;
}
.app_line label i {
  padding-right: 10px;
  color: gray;
}
.app_line i.micro:hover {
  transition: 0.4s;
  color: #ffa900;
}
.app_line .choice_language {
  color: gray;
  text-align: center;
}
.app_line .choice_language span.language_app:hover {
  color: white;
}
.app_line button.find {
  background-color: green;
  border: 0;
  color: white;
}
.app_line .sub_part {
  display: none;
}
.app_line .sub_part .sub_part_under {
  display: none;
}
.app_line a.app {
  padding-bottom: 5px;
  text-decoration: none;
  display: flex;
  padding-left: 10px;
  color: #3e77aa;
}
.app_line a.app:hover {
  color: red;
}
.app_line a.menu {
  display: flex;
  text-decoration: none;
  color: gray;
}
.app_line .veb_prompt_app {
  color: white;
  text-align: center;
}
.app_line .veb_prompt_app button.prompt {
  background-color: rebeccapurple;
  border: 0;
  color: #ffa900;
  border-radius: 4px;
}
.app_line .sub_part {
  display: none;
  background-color: white;
  color: #3e77aa;
}

.user_container button.in {
  background-color: green;
  border: 1px solid green;
  color: white;
  border-radius: 5px;
}
.user_container p {
  color: gray;
}
.user_container i {
  transition: 0.3s;
}
.user_container i:hover {
  background-color: red;
  color: red;
}
.user_container button.how_in {
  color: #3e77aa;
  border: 1px solid gray;
  border-radius: 5px;
}

