body {
  font-family: "Roboto", sans-serif;
}

.veb_part_container {
  display: grid;
  padding-top: 5px;
  padding-left: 10px;
  grid-template-columns: auto auto;
}
.veb_part_container img.slider {
  width: 1030px;
  padding-top: 20px;
}
.veb_part_container .download_container {
  text-align: center;
}
.veb_part_container .choice_part {
  padding-top: 5px;
  padding-bottom: 10px;
}
.veb_part_container .network_container {
  border-top: 1px solid lightgray;
  text-align: center;
  border-bottom: 1px solid lightgray;
}
.veb_part_container .network_container a:hover {
  text-decoration: none;
}
.veb_part_container .network_container img.network {
  padding-bottom: 5px;
  height: 50px;
  padding-top: 5px;
}
.veb_part_container i {
  color: gray;
}
.veb_part_container a:hover {
  color: red;
  text-decoration: underline;
}
.veb_part_container h2 {
  padding-bottom: 5px;
}
.veb_part_container .slider_container i:hover {
  color: red;
}

.in_container {
  margin-left: 28px;
  background-color: lightgray;
  width: 280px;
  padding: 10px;
  text-align: center;
}
.in_container button {
  background-color: #3e77aa;
  border-radius: 5px;
  margin-top: 15px;
  border: 1px solid #3e77aa;
  color: white;
}
.in_container button:hover {
  background-color: #29a1d9;
  transition: 0.4s;
}

button.download {
  background-color: black;
  margin-bottom: 5px;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 5px;
  color: white;
}
button.download i {
  color: white;
}

a {
  color: #3e77aa;
  text-decoration: none;
}

.sub_container {
  border-right: 1px solid lightgray;
}
.sub_container p {
  color: gray;
  padding-top: 10px;
}
.sub_container .sub_choice {
  padding-left: 10px;
  border-bottom: 1px solid lightgray;
}
.sub_container .sub_choice a.app {
  padding-left: 5px;
  display: flex;
  padding-bottom: 10px;
}
.sub_container .sub_choice a.app i {
  padding-right: 5px;
}
.sub_container a.menu {
  display: flex;
  padding-top: 10px;
  padding-bottom: 5px;
}
.sub_container .choice_part a {
  display: flex;
  padding-bottom: 5px;
}

button.payment {
  border: none;
  background-color: white;
}

.payment_container_information {
  border-top: 1px solid lightgray;
}

p.information_one {
  padding-top: 8px;
  padding-left: 8px;
}

p.information_two {
  padding-top: 8px;
  color: black;
  padding-left: 8px;
  border-bottom: 1px solid lightgray;
}

.app_line {
  display: grid;
  padding-top: 10px;
  background-color: black;
  padding-bottom: 10px;
  grid-template-columns: auto auto auto 1fr auto auto auto;
  padding-left: 80px;
  padding-right: 80px;
  align-items: center;
  grid-gap: 10px;
}
.app_line i {
  color: white;
}
.app_line a {
  color: #3e77aa;
  text-decoration: none;
}
.app_line a:hover {
  color: red;
  transition: 0.5s;
}
.app_line i:hover {
  color: red;
}
.app_line .sub_app_button {
  background-color: white;
}
.app_line p.prompt {
  padding-bottom: 5px;
}
.app_line i.choice_i {
  padding-left: 10px;
  text-align: center;
  padding-right: 10px;
}
.app_line input {
  display: inline-block;
  padding: 0;
  border: none;
}
.app_line button {
  color: white;
  border: 0;
  padding: 10px 15px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.2);
}
.app_line button:hover {
  background-color: gray;
  transition: 0.5s;
}
.app_line .input_line {
  overflow: hidden;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  border-radius: 3px;
}
.app_line .sub_choice {
  display: none;
}
.app_line i.micro {
  color: #3e77aa;
}
.app_line label {
  padding: 0 10px;
  background-color: white;
  display: grid;
  height: 100%;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  box-sizing: border-box;
}
.app_line label i {
  padding-right: 10px;
  color: gray;
}
.app_line i.micro:hover {
  transition: 0.4s;
  color: #ffa900;
}
.app_line .choice_language {
  color: gray;
  text-align: center;
}
.app_line .choice_language span.language_app:hover {
  color: white;
}
.app_line button.find {
  background-color: green;
  border: 0;
  color: white;
}
.app_line .sub_part {
  display: none;
}
.app_line .sub_part .sub_part_under {
  display: none;
}
.app_line a.app {
  padding-bottom: 5px;
  text-decoration: none;
  display: flex;
  padding-left: 10px;
  color: #3e77aa;
}
.app_line a.app:hover {
  color: red;
}
.app_line a.menu {
  display: flex;
  text-decoration: none;
  color: gray;
}
.app_line .veb_prompt_app {
  color: white;
  text-align: center;
}
.app_line .veb_prompt_app button.prompt {
  background-color: rebeccapurple;
  border: 0;
  color: #ffa900;
  border-radius: 4px;
}
.app_line .sub_part {
  display: none;
  background-color: white;
  color: #3e77aa;
}

.user_container button.in {
  background-color: green;
  border: 1px solid green;
  color: white;
  border-radius: 5px;
}
.user_container p {
  color: gray;
}
.user_container i:hover {
  color: red;
}
.user_container button.how_in {
  color: #3e77aa;
  border: 1px solid gray;
  border-radius: 5px;
}

